<h1>Welcome, <%= @user.username %></h1>
<h3>Your Products</h3>
<section>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        <% @user.products.each do |product| %>
            <tr>
                <td><%= link_to product.name, product_path(product) %></td>
                <td><%= product.price %></td>
                <td><%= product.description %></td>
                <td><%= product.in_stock %></td>
                <td>
                    <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %>
                    <%= link_to "Delete", product_path(product), class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure?" } %>
                </td>
            </tr>
        <% end %>
    </table> 
</section>

    <section>
        <%= link_to "Create new product", new_product_path, class: "btn btn-primary" %>
        <%= link_to "Create new category", new_category_path, class: "btn btn-primary" %>
        <%= link_to "View orders", manage_orders_path, class: "btn btn-primary" %>
    </section>