<% if @order.errors.any? %>
  <section class="alert__container">
    <div class="alert alert-error">
      <ul>
        <% @order.errors.each do |column, message| %>
          <li>
            <%= column.capitalize %>: <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>

<main>

  <%= form_with model: @order do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :value => "Jane Doe", class: "form-control"  %></div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :value => "gg@gmail.com", class: "form-control"  %></div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, :value => "123 Jane St, Seattle, WA, 98103", class: "form-control"  %></div>

    <div class="form-group">
      <%= f.label :cc_num, 'Credit Card Number' %>
      <%= f.text_field :cc_num, :value => "4539 1488 0343 6467", class: "form-control"  %></div>

    <div class="form-group">
      <%= f.label :cc_expiration, 'Expiration Date' %>
      <%= f.text_field :cc_expiration, :value => "11/21", class: "form-control"  %></div>

    <div class="form-group">
      <%= f.label :cvv, 'CVV' %>
      <%= f.text_field :cvv, :value => 123, class: "form-control"  %></div>

    <div class="form-group">
      <%= f.label :billing_zip, 'Billing Zip Code' %>
      <%= f.text_field :billing_zip, :value => 98103, class: "form-control"  %></div>

    <div class="form-group">
      <%= f.submit action_name, class: "btn btn-primary" %></div>

  <% end %>

</main>