
  <h2><%= @product.name %></h2>
  <img src="<%=@product.photo%>" alt="product photo" style="max-width:200px; max-height: 200px">
  <p><%= @product.description %></p>
  <p>Category: <% @product.categories.each do |category|%><%= category.name%> | <% end%></p>
  <p>Price: <%= number_to_currency(@product.price) %></p>
  <p>In stock: <%= @product.in_stock %></p>


    <%= form_with(url: product_order_items_path(@product.id), method: :post) do %>
      <%= label_tag(:q, "Quantity:") %>
      <%= number_field_tag(:quantity, 1, in: 1..@product.in_stock, step: 1) %>
      <%= submit_tag("Add to cart", class: "btn btn-primary") %>
  <% end %>

    <p></p>
    <%#= link_to "Add to cart", product_order_items_path(@product.id), method: :post, class: "btn btn-primary" %>

  <section>
    <!--    to_root for now, add a link to a review page-->
    <%= link_to "Review", new_product_review_path(@product.id), class: "btn btn-primary" %>
    <!--    to_root for now, add a link to a cart-->
    <% if @current_user == @product.user %>
    <%= link_to "Edit", edit_product_path(@product.id), class: "btn btn-primary" %>
    <%= link_to "Delete", product_path(@product.id), class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure?" } %>
    <% end %>

  </section>

  <section>
    <h3>Reviews</h3>
    <ul>
      <% @product.reviews.each do |review| %>
        <li>
          Title: <%=review.title %>
          Review: <%= review.text_field %>
          Rating: <%= review.rating %>
        </li>
      <% end %>
    </ul>
  </section>

