<section class="flash-message">
  <% flash.each do |name, message| %>
    <strong class="<%= name %>">
      <%= message %>
    </strong>
  <% end %>
</section>

<%= form_with model: @review, url: product_reviews_path(@product.id) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :text_field %>
  <%= f.text_field :text_field %>

  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>

  <%= f.submit "Submit Review", class: "btn btn-primary" %>

<% end %>