<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <aside class="header">
    <h1>
      <%= link_to "SoulStore", root_path %>
    </h1>

    <nav>
      <ul>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Merchants", users_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Orders", orders_path %></li>
        <li><%= link_to "Shopping Cart", shopping_cart_path %></li>
        <li>
          <% if session[:user_id] %>
            <% user = User.find(session[:user_id]) %>
            <%= user.username %><%= user.email %>
            <%= link_to "Logout", logout_path, method: "delete", class: "link" %>
          <% else %>
            <%= link_to "Login with GitHub", github_login_path, class: "link" %>
          <% end %>  
        </li>
      </ul>
    </nav>
  </aside>
  <% unless flash.empty? %>
    <section class="alert__container">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %>">
          <%= content_tag :div, message.html_safe %>
        </div>
      <% end %>
    </section>
  <% end %>
    <%= yield %>
  </body>
</html>
